{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "requireConfigFile": false
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint-config-airbnb/whitespace",
    "prettier",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["prettier", "flowtype"],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/order": "off",
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/function-component-definition": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/no-find-dom-node": "off",
    "react/state-in-constructor": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
